.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.intro__column:first-child {
  margin: 10px;
}


.profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* .intro__content {
  font-size: 1.1rem;
  line-height: 2rem;
  font-family: "Noto Serif KR", serif;
} */

@media screen and (min-width: 720px) {
  /* .intro__column:last-child {
    padding: 2em;
    max-width: 55rem;
  }

  .intro__content {
    line-height: 2rem;
  }
  p {
    max-width: 72ch;
  }
} */

@media screen and (min-width: 1200px) {
  /* .intro__column:last-child {
  } */
}
