.seminar-schedule__container {
}

.seminar__schedule {
  height: 250px;
  display: flex;
  margin: 3.5em auto;
  background-color: var(--yellowish-white);
  padding: 10px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  gap: 1.2em;
  font-family: "BBTreeG_R";
}

.seminar__poster {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.seminar__poster img {
  height: 100%;
  width: 165px;
}

.seminar__description ul {
  margin-top: 1.6rem;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.9rem;
}

.seminar__description ul li {
  margin-bottom: 8px;
}

.seminar__title {
  color: var(--main-color);
  text-decoration: underline;
  font-size: 0.8rem;
  font-weight: bolder;
}

@media screen and (max-width: 470px) {
  .seminar__schedule {
    height: auto;
  }
  .seminar__poster img {
    height: 250px;
    margin: auto 0;
  }
}

@media screen and (min-width: 1200px) {
  .seminar-schedule__container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .seminar__schedule {
    height: 300px;
    margin: 0;
  }

  .seminar__description ul {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }

  .seminar__title {
    font-size: 0.9rem;
  }
}
