.carousel {
  position: relative;
  height: 500px;
  margin: 0 auto;
  top: 100px;
  display: flex;
  justify-content: center;
}

.carousel__img {
  height: 100%;
  width: 80%;
  object-fit: cover;
  margin: 0 auto;
}

.carousel__track-container {
  background-color: var(--yellowish-white);
  height: 90%;
  width: 450px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 90%;
  position: relative;
  transition: transform 300ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__button {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  font-size: 17px;
  background-color: transparent;
  border: none;
}

.prevBtn {
  left: 6px;
}

.nextBtn {
  right: 6px;
}

.hideBtn {
  display: none;
}

@media screen and (min-width: 720px) {
  .carousel {
    width: 700px;
    height: 650px;
  }
  .carousel__track-container {
    width: 650px;
  }

  .carousel__slide {
    width: 650px;
  }
}

@media screen and (max-width: 450px) {
  .carousel {
    width: 400px;
    height: 300px;
    /* margin-right: 5rem; */
  }
  .carousel__track-container {
    width: 320px;
    margin-right: 1.5rem;
  }

  .carousel__slide {
    width: 320px;
  }
}
