.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  bottom: -7%;
  right: 0;
  height: 100vh;
  width: 200px;
  z-index: 1;
  background-color: var(--yellowish-white);
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.menu__list {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 40px 30px;
  font-size: 20px;
  font-weight: 500;
  list-style-type: none;
}

.menu__icon {
  font-size: 25px;
  margin: auto 15px;
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.menu__list li {
  margin: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 80%;
  text-align: right;
  padding-bottom: 5px;
}

#jsMenuBar {
  cursor: pointer;
}

.show-nav {
  transform: translateX(0px);
}

@media screen and (min-width: 1200px) {
  .menu__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
