/* .pictures-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.toModal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.toModal {
  width: 70%;
  height: 250px;
  margin-bottom: 1.5rem;
  cursor: pointer;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.toModal img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 5;
}

.modal__content {
  position: relative;
  top: 100px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.modal__content img {
  max-width: 30em;
}

.show-modal {
  display: block;
}

.jsToModal:hover {
  transform: scale(1.1);
  transition: 500ms ease-in-out;
}

.jsCloseModal {
  color: var(--yellowish-white);
  position: fixed;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 100;
}

@media screen and (min-width: 720px) {
  .toModal {
    height: 250px;
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .toModal {
    height: 350px;
    width: 60%;
  }
}
