.pictures-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toModal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.toModal {
  width: 70%;
  height: 250px;
  margin-bottom: 30px;
  cursor: pointer;
  border: 4px solid black;
  border-radius: 14px;
}
.toModal img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 5;
}

.show-modal {
  display: block;
}

.jsCloseModal {
  color: var(--yellowish-white);
  position: fixed;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 100;
}

@media screen and (min-width: 720px) {
  .toModal {
    height: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .toModal {
    height: 550px;
    width: 45%;
  }
}
